.form {
    /* margin: 1rem 0; */
    max-height: 28rem;
    overflow: auto;
  }
  
  .control {
    margin: 0.5rem 0;
  }
  
  .control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 20rem;
    max-width: 100%;
    outline: none;
    padding: 5px 10px;
  }

  .control p {
    margin-top: 10px;
    font-size: 14px;
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .actions button {
    font: inherit;
    color: #5a1a01;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem; 
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ffe6dc;
  }
  
  .actions .submit {
    border: 1px solid #5a1a01;
    background-color: #5a1a01;
    color: white;
  }
  
  .actions .submit:hover,
  .actions .submit:active {
    background-color: #7a2706;
  }
  
  .invalid p {
    color: #ca3e51;
  }
  
  .invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
  }

  .hr {
    border: 1px solid #8a2b06;
    margin-top: 2rem;
  }